<!doctype html>
{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>SDRI > menu > buscar usuarios</title>
		{% include 'dependecias/css.html' %}
	</head>
	<body>
		{% include 'menus/menu_principal.html' %}
		<div style="padding:50px"></div>
		<div style="padding:25px"></div>
		<section class="row" style="margin:0">
			<div class="col-sm-12">
				<div class="col-sm-2">
					<select id="select-rol" class="form-control">
						<option value="">[Seleccione]</option>
					</select>
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" placeholder="Buscar por Nombre">
				</div>
			</div>
			<div style="padding:30px"></div>
			<div class="col-sm-12" id='id_tabla'>
			
			</div>
		</section>		
	</body>
		{% include 'dependecias/js.html'%}
		<script type="text/javascript" src="{% static 'js/tabla-user.js'%}"></script>
</html>		